{% extends 'layouts/base.html' %}

{% block content %}
    <header class="title">
        <h1 class="title">Du gras, oui, mais de qualité !</h1>
        <h2 class="description">Trouvez un produit de substitution pour ceux que vous consommez tous les jours</h2>
    </header>
    <form action="{% url 'food:search' %}" method="GET">
        <input type="search" name="search" placeholder="Quel produit souhaitez-vous substituer ?" autofocus size="50px">
        <input type="submit" value="Lancer la recherche">
    </form>
{% endblock %}
    

