{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Résultat de la recherche pour le produit : <img src = "{{ image }}"" alt="image du produit à substituer" width="5%" height=5%"> - {{ name }}</h1>
    
    <ul>
        {% for elt in search %}
            <li>{{ elt }}</li>
            <li>Nutriscore : {{ elt.nutrition_grade_fr }}<br>
            <a href="{% url 'food:show' elt.id %}"><img src = "{{ elt.image_url }}"" alt="image du produit {{ elt.name }}" width="10%" height=10%"></a>

            {% if user.is_authenticated %}
            <form action="{% url 'food:save' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="elt" id="elt" value="{{ elt.id }}"">
                <input type="submit" value="Sauvegarder">
            </form>
            {% endif %}

            <hr>
        {% endfor %}
    </ul>
    
    <nav>
        <div>
            Page {{ search.number }} of {{ search.paginator.num_pages }}
        </div>
        <div>
            {% if search.has_previous %}
                <a href="?search={{ research }}&page=1">Première page</a>
                <a href="?search={{ research }}&page={{ search.previous_page_number }}">Page précédente</a>
            {% endif %}
            {% if search.has_next %}
                <a href="?search={{ research }}&page={{ search.next_page_number }}">Page suivante</a>
                <a href="?search={{ research }}&page={{ search.paginator.num_pages }}">Dernière page</a>
            {% endif %}
        </div>
    </nav>

{% endblock %}