<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pur Beurre - Le site web qui améliore votre hygiène alimentaire !">
    <meta name="author" content="Fabrice Pringuet">
    <title>Pur beurre</title>
    <!--favicon-->
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">
</head>
<body>
    {% include 'layouts/_nav.html' %}

    {% block content %}{% endblock content%}

    {% include 'layouts/_footer.html' %}
</body>
</html>